/* @import "@mantine/core/styles.css"; */
@layer tw_base, mantine, tw_components, tw_utilities;
@import "tailwindcss/base" layer(tw_base);
@import "tailwindcss/components" layer(tw_components);
@import "tailwindcss/utilities" layer(tw_utilities);

@import "@mantine/core/styles.layer.css";
@import "@mantine/notifications/styles.layer.css";
@import "@mantine/dates/styles.layer.css";
@import "@mantine/charts/styles.layer.css";
